<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dispay Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<div th:each="user : ${users}" id="user">
<span th:text="${user.firstName}">-</span>
<span th:text="${user.lastName}"></span>
<p th:text="${user.email}"></p>
</div>

<p style="padding-bottom: 0px">Education</p>
<ul th:each="education : ${educations}" id="educations" type="none" >
    <li th:inline="text">[[${education.degreeType}]] in [[${education.degreeName}]]</li>
    <li th:inline="text">[[${education.school}]], [[${education.gradYear}]]</li>

</ul>

<p>Experience</p>
<ul id="experiences" th:each="experience : ${experiences}" type="none"  >

    <li th:inline="text">[[${experience.jobTitle}]]</li>
    <li th:inline="text">[[${experience.company}]] [[${experience.startDate}]]-[[${experience.endDate}]]</li>
    <li th:inline="text">Duties: [[${experience.duty}]]</li>


</ul>

<p>Skills</p>
<ul id="skills"   th:each="skill : ${skills}" type="none" >

    <li th:inline="text">[[${skill.skillName}]]  [[${skill.rating}]]</li>

</ul>

<ul type="none">
    <li><a href="/addexperience">Add Experience</a></li>
    <li><a href="/addeducation">Add Education</a></li>
    <li><a href="/addskill">Add Skill</a></li>
</ul>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>